<div *ngIf="!dataLoaded" class="position-relative" style="height: 250px">
  <div class="position-absolute top-50 start-50 translate-middle">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    Yükleniyor...
  </div>
</div>

<div *ngIf="dataLoaded">
  <div class="mb-3">
    <label for="filterText" class="form-label">Ürün ara</label>
    <input
      type="text"
      [(ngModel)]="filterText"
      class="form-control"
      id="filterText"
      placeholder="arama ifadesi giriniz"
    />
  </div>
  <div *ngIf="filterText.length > 2" class="alert alert-primary">
    {{ filterText }} aradınız
  </div>

  <table class="table table-sm table-hover table-bordered rounded-3">
    <thead class="table-secondary">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ürün Adı</th>
        <th scope="col">Kategori</th>
        <th scope="col">Fiyat</th>
        <th scope="col">Kdv'li Fiyat</th>
        <th scope="col">Stok Adedi</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filterPipe: filterText">
        <td>{{ product.productId }}</td>
        <td>{{ product.productName | uppercase }}</td>
        <td>{{ product.categoryId }}</td>
        <td>{{ product.unitPrice | currency: "₺" }}</td>
        <td>{{ product.unitPrice | vatAdded: 10 | currency: "₺" }}</td>
        <td>{{ product.unitsInStock }}</td>
        <td>
          <button
            *ngIf="product.unitsInStock > 0"
            (click)="addToCart(product)"
            type="button"
            class="btn btn-success btn-sm"
          >
            Sepete Ekle
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
